body
{
    background-color: #202020;
}

#topbar {
    background-color: #313131;
    padding: 7px 2px 2px 7px;
    display: block;    
    overflow: hidden;
    height: 49px;
}

#topbar li {
    text-decoration: none;
    list-style-type: none;
}

#homelink {
    position: absolute;
    padding-top: 1px;
    text-decoration: none;
    padding-left: 90px;
    font-family: "Goldman", "sans-serif";
    font-size: 25px;
}

#berserker-icon {
    object-fit: cover;
    width: 49px;
    height: 49px;
    position: absolute;
}

#VikingCodeLogo {
    object-fit: cover;
    width: 49px;
    height: 49px;
    border-radius: 50%;
    position: absolute;
    left: 70px;
}

#RegisteredTM {
    position: absolute;    
    text-decoration: none;
    font-size: 25px;
    left: 280px;   
}

.switch {
    position: absolute;
    display: inline-block;
    width: 30px;
    height: 17px;
    top: 13px;
    right: 16px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 13px;
    width: 13px;
    left: 2px;
    bottom: 2px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked + .slider {
    background-color: #2196F3;
}

input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
    -webkit-transform: translateX(13px);
    -ms-transform: translateX(13px);
    transform: translateX(13px);
}

.slider.round {
    border-radius: 17px;
}

.slider.round:before {
    border-radius: 50%;
}

#theme {
    color: Highlight;
    position: absolute;
    font-family: "Goldman", "sans-serif";
    right: 52px;
    font-size: 13px;
    top: 10px;
}

@keyframes theme {
    from {
        background-color: #202020;
    }

    to {
        background-color: #f7f7f7;
        color: black;
    }
}


body.animate {
    animation-name: theme;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
    animation-timing-function: ease;
}

@keyframes theme1 {
    from {
        background-color: #313131;
    }

    to {
        background-color: gainsboro;
        color: black;
    }
}

#topbar.animate {
    animation-name: theme1;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
    animation-timing-function: ease;
}
