body
{
    background-color: #202020;
}

#topbar {
    background-color: #313131;
    padding: 7px 2px 2px 7px;
    display: block;    
    overflow: hidden;
    height: 49px;
}

#topbar li {
    text-decoration: none;
    list-style-type: none;
}

#link1 {
    position: absolute;
    padding-top: 3.5px;
    text-decoration: none;
    padding-left: 36px;
}

#berserker-icon {
    object-fit: cover;
    width: 49px;
    height: 49px;
    position: absolute;
}