<!DOCTYPE html>
{% load bootstrap5 %}
{% load static %}
<html lang="pt-br">
<head>
    <meta charset="utf-8" name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Viking Code Home</title>
    {% bootstrap_css %}
    {% bootstrap_javascript %}
    <link href="{% static 'css/HomePage.css' %}" rel="stylesheet"/>
    <link href="https://fonts.googleapis.com/css2?family=Goldman&display=swap" rel="stylesheet">
</head>
<body id="teste2">
    <img id="berserker-icon" src="{% static 'images/sidebar-icon.png' %}" alt="Image not Found '404'" />
    <img id="VikingCodeLogo" src="{% static 'images/VikingCode~2.jpg' %}" alt="404" />
    <div id="teste">
    <label id="switchbtn" class="switch">
        <input id="teste1" type="checkbox" checked="checked" placeholder="teste">
        <span class="slider round"></span>
    </label>
    </div>
    <label id="theme">
        Theme
    </label>
    <div id="topbar">
        <ul>
            <li><a id="homelink" class="active" href="{% url 'home' %}">Viking Code</a><a id="RegisteredTM" href="{% url 'home' %}">®</a></li>
        </ul>
    </div>
    <script type="text/javascript" src="{% static 'javascript/animtheme.js' %}"></script>
</body>
</html>