<!DOCTYPE html>
{% load bootstrap5 %}
{% load static %}
<html lang="pt-br">
<head>
    <meta charset="utf-8" name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Viking Code Home</title>
    {% bootstrap_css %}
    {% bootstrap_javascript %}
    <link href="{% static 'css/HomePage.css' %}" rel="stylesheet"/>
    <link href="https://fonts.googleapis.com/css2?family=Goldman&display=swap" rel="stylesheet">
</head>
<body id="bodyid">
    <img id="berserkerslide" src="{% static 'images/sidebar-icon.png' %}" alt="Image not Found '404'" />
    <img id="VikingCodeLogo" src="{% static 'images/VikingCode~2.jpg' %}" alt="404" />
    <div id="teste">
    <label id="switchbtn" class="switch">
        <input id="themebtn" type="checkbox" checked="checked" placeholder="teste">
        <span class="slider round"></span>
    </label>
    </div>
    <label id="theme">
        Theme
    </label>
    <div id="topbar">
        <ul>
            <li><a id="homelink" class="active" href="{% url 'home' %}">Viking Code</a><a id="RegisteredTM" href="{% url 'home' %}">®</a></li>
        </ul>
    </div>
    <div id="ModalSlider">
        <ul id="sidebar">
            <li><a id="link1" class="active" href="{% url 'home' %}">Quem somos nós</a></li>
            <li><a id="link2" class="active" href="#">Artigos</a></li>
            <li><a id="link3" class="active" href="#">Dividindo Conhecimento</a></li>
            <li><a id="link4" class="active" href="#">Fórum da Comunidade</a></li>
            <li><a id="link5" class="active" href="#">Blog da Comunidade</a></li>
            <li><a id="link6" class="active" href="#">Espaço Chat</a></li>
            <li><a id="link7" class="active" href="#">Serviços Viking Code</a></li>
            <li><a id="link8" class="active" href="#">Projeto Berserkers</a></li>
            <li><a id="link9" class="active" href="#">Contato</a></li>
            <li><a id="link10" class="active" href="#">Parcerias, Apoio</a></li>
            <li><a id="link11" class="active" href="#">Modelos de Negócio</a></li>
            <li><a id="link12" class="active" href="#">Torne sua Idéia Realidade</a></li>
            <li><a id="link13" class="active" href="#">Alavanque seu negócio</a></li>
            <li><a id="link14" class="active" href="#">Legislação</a></li>
            <li><a id="link15" class="active" href="#">Sobre nós</a></li>
        </ul>
    </div>
    <div id="TextoHomePage">
        <h1 id="VkAp">Apresentando a Viking Code:</h1>
        <p id="QuemSomos">
            A Viking Code é uma Startup de Tecnologia, não apenas de Engenharia de Software, mas também <br />
            Gestão de T.I., Marketing e Publicidade, Processos (de fabricação ou não), Modelagem de Negócios, <br />
            Modernização e Atualização de Negócios já estabelecidos e tradicionais, através de metodologias <br />
            e técnicas que são consensos na Filosofia de Engenharia de Software tanto no mundo acadêmico, <br />
            quanto no mercado internacional, porém nossa mentalidade não é focada apenas em conhecimento <br />
            técnico, mas sim no nosso propósito como marca...
        </p>
        <h1 id="mentalidadevk">Gestão e Mentalidade:</h1>
    </div>
    <script type="text/javascript" src="{% static 'javascript/animtheme.js' %}"></script>
    {% bootstrap_javascript %}
</body>
</html>