<!DOCTYPE html>
{% load bootstrap5 %}
{% load static %}
<html lang="pt-br">
<head>
    <meta charset="utf-8" name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Viking Code</title>
    {% bootstrap_css %}
    {% bootstrap_javascript %}
    <link href="{% static 'css/root.css' %}" rel="stylesheet"/>
    <link href="https://fonts.googleapis.com/css2?family=Goldman&display=swap" rel="stylesheet">    
</head>
<body>
    <div id="bersekerdiv">
        <img id="berserker" src="{% static 'images/VikingCode~2.jpg' %}" alt="Image not Found '404'" />
    </div>    
        <div id="welcomeT">
            <h2 id="welcometext">Viking Code</h2>
        </div>
    <div id="teste">
        <a id="magicbtn" href="{% url 'home' %}">
            <span></span>
            <span></span>
            <span></span>
            <span></span>
            Entrar
        </a>
    </div>
    <script type="text/javascript" src="{% static 'javascript/animroot.js' %}"></script>
</body>
</html>
